/.settings
/.buildpath
/.project

/application/Commons/cache/*

# Configuration 
/application/*/conf/*.ini
!/application/*/conf/*default.ini
/application/*/conf/*/*.ini
!/application/*/conf/*/*default.ini

